<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Contact us</h2>
        <form th:action="@{/contact}" method="post">
            <div class="form-group">
                <label for="fullName">Full name:</label>
                <input type="text" name="fullName" class="form-control" placeholder="Full name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <input type="text" name="message" class="form-control" placeholder="Message">
            </div>
            <div class="submitButton">
                <input type="submit" value="Send" />
            </div>
        </form>
    </div>
</body>
</html>